
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.page.home {
  background-color: #007bff; /* Blue */
}

.page.event-category {
  background-color: #28a745; /* Green */
}

.page.events {
  background-color: #ffc107; /* Yellow */
}

.page.event-details {
  background-color: #dc3545; /* Red */
}

.container {
  font-size: 24px;
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.category {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.events {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.event {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.event h2 {
  font-size: 28px;
}

.event p {
  font-size: 20px;
}

.header, .footer {
  width: 100%;
  padding: 20px 0;
  background-color: #333;
  text-align: center;
}

.footer button {
  background-color: #333;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.footer button:hover {
  background-color: #555;
}
