
.container {
    width: 100%;
    height: 95vh;
    background-color: #a52c2c;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.text {
    color: black;
}
